In [2]:
import pandas as pd
import wrds

In [3]:
conn=wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [32]:
sp500 = conn.raw_sql("""
                        select a.*, b.date, b.ret
                        from crsp.dsp500list as a,
                        crsp.dsf as b
                        where a.permno=b.permno
                        and b.date >= a.start and b.date<= a.ending
                        and b.date>='01/01/2000'
                        and b.date<='12/31/2023'
                        order by date;
                        """, date_cols=['start', 'ending', 'date'])

In [38]:
sp500 = sp500.drop(columns=['start', 'ending'])

In [39]:
sp500

       permno       date       ret
0       64936 2000-01-03 -0.028662
1       24205 2000-01-03 -0.036496
2       60441 2000-01-03 -0.028926
3       45751 2000-01-03 -0.011757
4       76887 2000-01-03 -0.042553
...       ...        ...       ...
28546   87445 2023-12-29  0.004683
28547   21792 2023-12-29  0.000350
28548   13356 2023-12-29  0.002258
28549   58819 2023-12-29 -0.000390
28550   52476 2023-12-29 -0.009295

[3028551 rows x 3 columns]

In [40]:
sp500.to_pickle('data/sp500.pkl')

In [41]:
sp500.isna().sum()

permno      0
date        0
ret       101
dtype: int64

In [44]:
(sp500[sp500['ret'].isna()])['permno'].nunique()

98